@font-face {
    font-family: 'Shabnam-Medium-FD';
    src: url('Shabnam-Medium-FD.eot');
    src: url('Shabnam-Medium-FD.eot?#iefix') format('embedded-opentype'),
        url('Shabnam-Medium-FD.woff2') format('woff2'),
        url('Shabnam-Medium-FD.woff') format('woff'),
        url('Shabnam-Medium-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

